{% block stylesheets %}{% endblock %}
<link rel="icon" type="image/x-icon" href="{{ asset('fav.ico') }}" />
<!-- Main Footer -->
<footer class="main-footer">
	<!-- To the right -->
	<!-- <div class="pull-right hidden-xs">
		Anything you want
	</div> -->
	<!-- Default to the left -->
	<strong>Copyright &copy; 2019 <a href="#">Company</a>.</strong> 
 </footer>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
	