{% extends 'base.html.twig' %}

{% block body %}
{% include 'AdminLoginBundle:Default:sidebar.html.twig' %}
<div class="content-wrapper">
	  <!-- Content Header (Page header) -->
	  <section class="content-header">
		
	  </section>

	  <!-- Main content -->
	  <section class="content container-fluid">
	  </section>
	<!-- /.content -->
	</div>
{% endblock %}
